<%= @parsed %>





<p>You are :
  <%= @deeper %>
<%= @decision %></p>

<%= @parsed %>
<%= @approval %>





<p>You are :
  <%= @deeper %>
<%= @decision %></p><%= @parsed %>
<%= @approval %>




<p>You are :
  <%= @deeper %>
<%= @decision %></p>
<%= @approval %>
<!-- #returns the Description -->

 <%# @parsed.extend Hashie::Extensions::DeepFind %>
<%# deeper = @parsed.deep_find(:Description) %>
<%# if deeper.any? {|k, v| v.include? "ANIMAL"}  #asks if animal is included %>
  <%#= deeper %>
  <%#= "Not approved" %>
<%# else %>
  <%#= deeper %>
  <%#="approved" %>
<%# end %>
