<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Simple Check</title>
  </head>
  <body>
    <center><h1> The Little Background Checker </h1><br><br><br>

    <div class="col-md-4 how">
      <img src="http://i.imgur.com/SQJsa1H.png"></img>
        <h3> Secure </h3>
      <p>No social security numbers needed <br>and no information is stored.</p>
    </div>

    <div class="col-md-4 why">

      <img src="http://i.imgur.com/BbmT56A.png"></img>
      <h3> Why </h3>
      <p>Get rid of expensive pre employment screenings <br>
          and streamline the background check process.</p>
    </div>

    <div class="col-md-4 time">

      <img src="http://i.imgur.com/4sMRxO8.png"></img>
      <h3> Time </h3>
      <p>Results are seen in seconds <br>
          so that you can get back to what matters.</p></center>
    </div>

    <div class="col-md-4 spacer">

    </div>

    <div class="col-md-4 checker">
      <br><br>
      <center><img src="http://i.imgur.com/MEvqbFu.png"></img><br></center>
        <center><h3> Search </h3>
        <p> Background checks made easy, just fill out the form for your instant results.</p></center>
      <div class="actions"><% if current_user %>
      <center>  <p class="main-content"><ul><%= form_for RecordCheck.new do |f| %>
             <li><%= f.text_field :first_name, :placeholder => "First Name" %></li>
             <li><%= f.text_field :last_name, :placeholder => "Last Name" %></li>
             <li><%= f.text_field :middle_name, :placeholder => "Middle Name" %></li>
             <li><%= f.text_field :address, :placeholder => "Address" %></li>
             <li><%= f.text_field :city, :placeholder => "City" %></li>
             <li><%= f.text_field :state, :placeholder => "State" %></li>
             <li><%= f.text_field :zip, :placeholder => "Zip Code" %></li>
             <li><%= f.text_field :county, :placeholder => "County" %></li>
             <li><%= f.date_field :dob, :placeholder => "Birthdate" %></li>
             <div class="actions">
               <li><%= f.submit "Apply", class: "btn btn-primary" %></li>
             </div>
           <% end %></ul></p></center>
           <% else %>
           <center><li><%= link_to "Login", 'login' %></a></li></center>
           <% end %>
    </div>

  </body>
</html>
