<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<p id="notice"><%= notice %></p>

<h1>Listing Record Checks</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Middlename</th>
      <th>Lastname</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>County</th>
      <th>Dob</th>
      <th>Agemin</th>
      <th>Agemax</th>
      <th>Limit</th>
      <th>Exactmatch</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @record_checks.each do |record_check| %>
      <tr>
        <td><%= getRecords %></td>
        <td><%= record_check.firstName %></td>
        <td><%= record_check.middleName %></td>
        <td><%= record_check.lastName %></td>
        <td><%= record_check.address %></td>
        <td><%= record_check.city %></td>
        <td><%= record_check.state %></td>
        <td><%= record_check.zip %></td>
        <td><%= record_check.county %></td>
        <td><%= record_check.DOB %></td>
        <td><%= record_check.ageMin %></td>
        <td><%= record_check.ageMax %></td>
        <td><%= record_check.limit %></td>
        <td><%= record_check.exactMatch %></td>
        <td><%= link_to 'Show', record_check %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Record check', new_record_check_path %>
