       <!DOCTYPE html>
       <html xmlns="http://www.w3.org/1999/xhtml">
       <head>
           <title>One page website template for multipurpose website</title>
             <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
           <meta charset="utf-8" />
            <link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon" />


            <!---Common css---->
               <link href="assets/stylesheets/record_checks.scss" rel="stylesheet" type="text/css" />
               <!----Media queries css--->
           <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700,900' rel='stylesheet' type='text/css'/>


           <script src="assets/javascripts/jquery-ui.js"></script>
           <script src="assets/javascripts/jquery-1.11.3.min.js"></script>
           <script src="assets/javascripts/slider.js"></script>
           <script src="assets/javascripts/plugin.js"></script>
       </head>
       <body>
           <div class="main">
                           <header class="header">
                       <div class="container">
                           <div class="col-12">
                           <div class="col-4 mb-11 logo-set">
                               <div class="logo"><%= image_tag "petlogo.png"%></div>

                           </div>





                           </div>
                               </div>
                   </header>
               <section class="banner-top" id="home">
               <div class="texture">
               <div class="container">
                  <div class="col-5 mb-12 mb-center banner-box">

                      <div class="banner_line1"><%= image_tag "Untitled-2.png"%></div>
                      <div class="banner_brief_text"></div>
                      <div    class="mb-center mb-12"></div>
                  </div>
                   <div class="col-7 mb-12 banner-image"  style="position:relative;"><!--<img src="image/banner2_image.png"  />--></div>
               </div>
                   </div>
              <!--  <div class="col-12 banner-extra-div color-black-s-light">

           </div>-->
           </section>


           <section class="choose-theme section-padding color-white"  id="about">
               <div class="container">
                   <center><div class="main-title font-color-m-light">Step 1</div>
                   <p class="main-content">   <p><ul><%= form_for(@record_check) do |f| %>
                        <li><%= f.text_field :first_name, :placeholder => "First Name" %></li>
                        <li><%= f.text_field :last_name, :placeholder => "Last Name" %></li>
                        <li><%= f.text_field :middle_name, :placeholder => "Middle Name (optional)" %></li>
                        <li><%= f.text_field :address, :placeholder => "Address (optional)" %></li>
                        <li><%= f.text_field :city, :placeholder => "City (optional)" %></li>
                        <li><%= f.text_field :state, :placeholder => "State (optional)" %></li>
                        <li><%= f.text_field :zip, :placeholder => "Zip Code (optional)" %></li>
                        <li><%= f.text_field :county, :placeholder => "County (optional)" %></li>
                        <li><%= f.date_select :dob, {order: [:month, :day, :year], prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }, start_year: Date.today.year - 18, end_year: Date.today.year - 100}, {required: true} %></li>
                        <div class="actions">
                          <li><%= f.submit "Apply", class: "apply-button" %></li>
                        </div>
                      <% end %></ul></p>
                   <div class="col-4 padding-lr" style="box-sizing:border-box;" >
                       <div class="sub-title font-color-s-light"> </div>

                       <div class="content-box" style="">             </div>
                       <a href="#services">
                     </div></a>
                   </div>

                 </div></center>

           </section>
           <section class="service section-padding color-white" id="services"></section>

           <section class="team section-padding color-light-white" id="team"></section>


               <!--<section class="key-feature section-padding color-white">
               <div class="container">
                     <div class="main-title font-color-m-light">Features for Your Online Business</div>
                   <p class="main-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae nibh nisl. Cras et mauris eget lorem ultricies ferme ntum a in diam. </p>

                   <div class="col-5  padding-lr" >
                      <div class="col-12 feature-box" style="padding:5px 0px;">
                          <div class="col-2 feature-icon"><i class="quickweb-icon-monitor"></i></div>
                          <div class="col-10 content-box">
                              <div class="feature-name">Resposive design</div>
                               <div class="feature-content">Cras tempus orci massa, id hendrerit mi egestas vitae class aptent taciti.</div>
                              </div>

                      </div>

                       <div class="col-12 feature-box" style="padding:5px 0px;">

                          <div class="col-2 feature-icon"><i class="quickweb-icon-chart-pie-1"></i></div>
                        <div class="col-10 content-box">
                              <div class="feature-name">Easy Customization</div>
                               <div class="feature-content">Cras tempus orci massa, id hendrerit mi egestas vitae class aptent taciti.</div>
                              </div>
                      </div>

                         <div class="col-12 feature-box" style="padding:5px 0px;">
                          <div class="col-2 feature-icon"><i class="quickweb-icon-sliders"></i></div>
                         <div class="col-10 content-box">
                              <div class="feature-name">Step to Step Guide</div>
                               <div class="feature-content">Cras tempus orci massa, id hendrerit mi egestas vitae class aptent taciti.</div>
                              </div>
                      </div>
                       <div class="col-12 feature-box" style="padding:5px 0px;">
                          <div class="col-2 feature-icon"><i class="quickweb-icon-cloud-1"></i></div>
                         <div class="col-10 content-box">
                              <div class="feature-name">Secure and Reliable</div>
                               <div class="feature-content">Cras tempus orci massa, id hendrerit mi egestas vitae class aptent taciti.</div>
                              </div>
                      </div>

                   </div>

                   <div class="col-7" style="">
                       <div class="col-12 feature-img center" style="">
                       <img src="image/monitor.png" /></div>
                   </div>
               </div>
           </section>-->

             <section class="contact-address section-padding color-light-white"></section>

           <section class="contact section-padding color-white"></section>




           <script type="text/javascript">
               thumb_slider({

                   thumbs_to_show: 1,
                   thumbs_to_move: 1,
                   thumbs_width: 0,
                   thumbs_count: 0,
                   timeout: 10000,
                   parent_id: "main_slider",
                   container_class: "thumb_slider",
                   thumb_class: "thumbs",
                   spacing: 0,
                   processing: false,
                   hover: false,
                   next_class: "next",
                   prev_class: "prev",
                   timer: setTimeout(function () { })

               });
           </script>
       </body>
       </html>
