<p id="notice"><%= notice %></p>
<p><%= getRecords %></p>

<p>
  <strong>Firstname:</strong>
  <%= @record_check.firstName %>
</p>

<p>
  <strong>Middlename:</strong>
  <%= @record_check.middleName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @record_check.lastName %>
</p>

<p>
  <strong>Address:</strong>
  <%= @record_check.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @record_check.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @record_check.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @record_check.zip %>
</p>

<p>
  <strong>County:</strong>
  <%= @record_check.county %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @record_check.DOB %>
</p>

<p>
  <strong>Agemin:</strong>
  <%= @record_check.ageMin %>
</p>

<p>
  <strong>Agemax:</strong>
  <%= @record_check.ageMax %>
</p>

<p>
  <strong>Limit:</strong>
  <%= @record_check.limit %>
</p>

<p>
  <strong>Exactmatch:</strong>
  <%= @record_check.exactMatch %>
</p>

<%= link_to 'Edit', edit_record_check_path(@record_check) %> |
<%= link_to 'Back', record_checks_path %>
