<!DOCTYPE html>
<html>
<head>
  <title>PetVerify</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="./" class="navbar-brand"><%= image_tag "petlogo1copy.png"%></a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="#about">About</a>
        </li>
        <li>
          <a href="#process">Process</a>
        </li>
        <li>
          <a href="#partners">Partners</a>
        </li>
        <li>
          <a href="#verification">Verification</a>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
        <li class="active">
          <%= link_to "Apply", new_record_check_path%>
        </li>
      </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
             <li><%= link_to "Log out", logout_path, method: "delete" %></li>
             <% else %>
             <li><%= link_to "Login", 'login' %></a></li>
             <li><%= link_to "Signup", 'signup' %></a></li>
             <% end %>
          </ul>
    </nav>
  </div>
</header>
</head>
<body>

<%= yield %>


<section class="footer" id="footer">

    <div class="bottom-footer">
        <div class="container">
          <div class="col-12 creator" style="padding-top:25px;">
        <div class="col-6 copyright">© 2016 All Rights Reserved by Petverify.org</div>
        <div class="col-6 design-by">

</div>
     </div>
    </div>
    </div>
</section>

</body>
</html>
