<!DOCTYPE html>
<html>
<head>
  <title>Little Checker</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">Checker</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>

        </li>
      </ul>
          <ul class="nav navbar-nav navbar-right">
            <!-- <% if current_user %>
             <li><%= link_to "Log out", logout_path, method: "delete" %></li>
             <% else %>
             <li><%= link_to "Login", 'login' %></a></li>
             <li><%#= link_to "Signup", 'signup' %></a></li>
             <% end %> -->
          </ul>
    </nav>
  </div>
</header>
</head>
<body>

<%= yield %>



     </div>
    </div>
    </div>
</section>

</body>
</html>
